.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*.aux
*.bbl
*.blg
*_cache/
/cache/
*.utf8.md
*.knit.md
*.log
.Renviron
.DS_Store
inst/doc
vignettes/sfaR_handout-concordance.tex
vignettes/sfaR_handout.synctex.gz
vignettes/sfaR_handout.tex
