.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
.DS_Store
vignettes/sfaR_Technical_Appendix-concordance.tex
vignettes/sfaR_Technical_Appendix.synctex.gz
vignettes/sfaR_Technical_Appendix.tex
vignettes/sfaR_Technical_Appendix.log
vignettes/sfaR_Technical_Appendix.bbl
vignettes/sfaR_Handout-concordance.tex
vignettes/sfaR_Handout.synctex.gz
vignettes/sfaR_Handout.tex
vignettes/sfaR_Handout.log
vignettes/sfaR_Handout.bbl
inst/doc
