export(efficiencies, ic, lcmcross, marginal, sfacross, skewnessTest)

S3method("coef", "lcmcross")
S3method("coef", "sfacross")
S3method("coef", "summary.lcmcross")
S3method("coef", "summary.sfacross")
S3method("efficiencies", "lcmcross")
S3method("efficiencies", "sfacross")
S3method("fitted", "lcmcross")
S3method("fitted", "sfacross")
S3method("ic", "lcmcross")
S3method("ic", "sfacross")
S3method("logLik", "lcmcross")
S3method("logLik", "sfacross")
S3method("marginal", "lcmcross")
S3method("marginal", "sfacross")
S3method("print", "sfacross")
S3method("print", "lcmcross")
S3method("print", "summary.lcmcross")
S3method("print", "summary.sfacross")
S3method("residuals", "lcmcross")
S3method("residuals", "sfacross")
S3method("summary", "lcmcross")
S3method("summary", "sfacross")
S3method("vcov", "lcmcross")
S3method("vcov", "sfacross")

import("maxLik")
importFrom("dplyr", "as_tibble", "bind_cols", "mutate", "select")
importFrom("emdbook", "qchibarsq")
importFrom("fBasics", "dagoTest")
importFrom("Formula", "as.Formula", "Formula")
importFrom("gsl", "erf", "erfc")
importFrom("marqLevAlg", "mla")
importFrom("MASS", "ginv")
importFrom("methods", "as")
importFrom("moments", "moment", "skewness")
importFrom("nleqslv", "nleqslv")
importFrom("numDeriv", "jacobian")
importFrom("primes", "generate_primes", "is_prime")
importFrom("qrng", "ghalton")
importFrom("randtoolbox", "sobol")
importFrom("stats", "coefficients")
importFrom("stats", "delete.response", "dnorm", "fitted", "formula", "integrate", 
           "lm", "logLik", "model.frame", "model.matrix", "model.response", 
           "na.pass", "nlminb", "pnorm", "printCoefmat", "pt", "qnorm", "qt", 
           "residuals", "runif", "terms", "vcov")
importFrom("trustOptim", "trust.optim")
importFrom("ucminf", "ucminf")
